<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:MageShop_AjaxShoppingCartUpdate:etc/system_file.xsd">
    <system>
        <section id="AjaxShoppingCartUpdate" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>AJAX Shopping Cart Update</label>
            <tab>sales</tab>
            <resource>MageShop_AjaxShoppingCartUpdate::mageshop_ajaxshoppingcartupdate</resource>
            <group id="AjaxShoppingCartUpdateGroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>AJAX Shopping Cart Update</label>
                <field id="isEnableDisable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
